<section>
  <div class="container text-center">
    <div class=" dark:from-darkmode-body dark:to-darkmode-theme-light rounded-2xl bg-gradient-to-b px-8 py-14">
      <h1 class="mt-12">{{ .Title | title }}</h1>
      <div class="lg:col-12 mb-0 -mt-[128px] h-[30px] text-center">
        {{ partial "image" (dict "Src" .Params.image "Alt" "Banner image" "Loading" "eager" "Class" "mx-auto pt-8 opacity-"
        ) }}
      </div>
      <div class="font-semibold mt-40 text-4xl">{{ .Params.description }}</div>
    </div>
  </div>
</section>
